h1{
    color:red;
}
p,
li {
    color: green;
}
li {
    list-style-type: none;
}
.special {
    color: orange;
    font-weight: bold;
}
a:link {
    color: pink;
}
a:visited {
    color:aqua;
}
a:hover {
    text-decoration: none;
}
ul {
    border: 2px solid rebeccapurple
    padding: .5em;
}