h1{
    color:rgb(73, 200, 250);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }  
  .special {
    color: rgb(3, 3, 75);
}
h2{
    color: rgb(32, 82, 218);
}
li {
     font-family: cursive;
}
h3{
    font-family: georgia;
}
.recipe {
    list-style-type: none;
    color: rgb(46, 101, 122)
}
.font {
    font-family:arial;
}
h3{
    color: cornflowerblue;
}
span {
    background-color: slategrey;
}
.tips {
    color: rgb(16, 4, 61)
}